@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .reverse-gradient-border {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
  }
  .gradient-border {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top, white, rgba(0, 0, 0, 0)) 1 100%;
  }
  .hexagon {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .force-bold {
    font-weight: bold !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-scrollbar {
    width: 10px;
  }
  .pixelated {
    image-rendering: pixelated;
    transform-style: preserve-3d;
  }
  .cursor-pointer {
    cursor: url(/cursor/select.png), pointer;
  }
  .mana-gem {
    box-sizing: border-box;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background: #3daed9;
    box-shadow: 15px 16px 16px rgba(255, 255, 255, 1),
      inset 10px -2px 20px rgba(0, 0, 255, 0.55);
  }
  .temp {
    background-color: red !important;
  }
}

.card-border:hover {
  border: 1px solid rgba(89, 81, 188, 1) !important;
}

body {
  cursor: url(/cursor/default.png), pointer;
  background: linear-gradient(
    65.72deg,
    #130e4d 18.75%,
    rgba(141, 7, 104, 1) 180.52%
  );
  background-attachment: fixed;
  min-height: 100vh;
  overflow: overlay;
}

.alert-dialog {
  background-color: rgba(9, 5, 52, 1) !important;
  color: white !important;
}

.alert-dialog .swal2-confirm {
  background-color: rgba(89, 81, 188, 1) !important;
}

a {
  cursor: url(/cursor/select.png), pointer;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 175, 182, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(160, 175, 182, 0.5);
}
